@model PieGallery.Models.CreateRole

@{
  ViewData["Title"] = "Create a new role";
}

<div class="homeTitle animate__animated animate__flash">
  Create a new role!
</div>

<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
